USE [master]
GO
/****** Object:  Database [SistemaGestionInventarios_PROD]    Script Date: 2/25/2026 7:06:40 PM ******/
CREATE DATABASE [SistemaGestionInventarios_PROD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaGestionInventariost', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SistemaGestionInventarios_PROD.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaGestionInventariost_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SistemaGestionInventarios_PROD_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaGestionInventarios_PROD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaGestionInventarios_PROD]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
/****** Object:  Table [dbo].[Oficinas]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oficinas](
	[OficinaId] [int] IDENTITY(1,1) NOT NULL,
	[NombreOficina] [varchar](100) NOT NULL,
	[DirectorOficina] [varchar](100) NOT NULL,
	[Ubicacion] [varchar](200) NOT NULL,
	[EsPrincipal] [bit] NULL,
	[Activo] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Email] [varchar](255) NULL,
 CONSTRAINT [PK_Oficinas] PRIMARY KEY CLUSTERED 
(
	[OficinaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Oficinas_Nombre] UNIQUE NONCLUSTERED 
(
	[NombreOficina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosSolicitud]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosSolicitud](
	[EstadoId] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_EstadosSolicitud] PRIMARY KEY CLUSTERED 
(
	[EstadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EstadosSolicitud_Nombre] UNIQUE NONCLUSTERED 
(
	[NombreEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aprobadores]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aprobadores](
	[AprobadorId] [int] IDENTITY(1,1) NOT NULL,
	[NombreAprobador] [varchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Activo] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK_Aprobadores] PRIMARY KEY CLUSTERED 
(
	[AprobadorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Aprobadores_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materiales]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materiales](
	[MaterialId] [int] IDENTITY(1,1) NOT NULL,
	[NombreElemento] [varchar](200) NOT NULL,
	[ValorUnitario] [decimal](18, 2) NOT NULL,
	[CantidadDisponible] [int] NOT NULL,
	[ValorTotal]  AS ([ValorUnitario]*[CantidadDisponible]),
	[OficinaCreadoraId] [int] NOT NULL,
	[Activo] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[UsuarioCreador] [varchar](100) NOT NULL,
	[RutaImagen] [nvarchar](255) NULL,
	[CantidadMinima] [int] NOT NULL,
 CONSTRAINT [PK_Materiales] PRIMARY KEY CLUSTERED 
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudesMaterial]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudesMaterial](
	[SolicitudId] [int] IDENTITY(1,1) NOT NULL,
	[OficinaSolicitanteId] [int] NOT NULL,
	[MaterialId] [int] NOT NULL,
	[CantidadSolicitada] [int] NOT NULL,
	[FechaSolicitud] [datetime] NULL,
	[EstadoId] [int] NOT NULL,
	[PorcentajeOficina] [decimal](5, 2) NOT NULL,
	[AprobadorId] [int] NOT NULL,
	[FechaAprobacion] [datetime] NOT NULL,
	[CantidadEntregada] [int] NULL,
	[FechaUltimaEntrega] [datetime] NOT NULL,
	[ValorTotalSolicitado] [decimal](18, 2) NOT NULL,
	[ValorOficina] [decimal](18, 2) NOT NULL,
	[ValorSedePrincipal] [decimal](18, 2) NOT NULL,
	[FechaCalculoValores] [datetime] NULL,
	[UsuarioSolicitante] [nvarchar](100) NOT NULL,
	[Observacion] [varchar](500) NULL,
	[TieneNovedad] [bit] NULL,
 CONSTRAINT [PK_SolicitudesMaterial] PRIMARY KEY CLUSTERED 
(
	[SolicitudId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ReporteSolicitudes]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE VIEW [dbo].[vw_ReporteSolicitudes] AS
    SELECT 
        s.SolicitudId,
        o.NombreOficina as OficinaSolicitante,
        m.NombreElemento,
        m.ValorUnitario,
        s.CantidadSolicitada,
        (m.ValorUnitario * s.CantidadSolicitada) as ValorTotalSolicitado,
        s.PorcentajeOficina,
        es.NombreEstado as Estado,
        a.NombreAprobador,
        s.CantidadEntregada,
        s.FechaSolicitud,
        s.FechaAprobacion
    FROM SolicitudesMaterial s
    INNER JOIN Oficinas o ON s.OficinaSolicitanteId = o.OficinaId
    INNER JOIN Materiales m ON s.MaterialId = m.MaterialId
    INNER JOIN EstadosSolicitud es ON s.EstadoId = es.EstadoId
    LEFT JOIN Aprobadores a ON s.AprobadorId = a.AprobadorId
GO
/****** Object:  View [dbo].[vw_ReporteMateriales]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE VIEW [dbo].[vw_ReporteMateriales] AS
    SELECT 
        m.MaterialId,
        m.NombreElemento,
        m.ValorUnitario,
        m.CantidadDisponible,
        m.ValorTotal,
        o.NombreOficina as OficinaCreadora,
        m.FechaCreacion
    FROM Materiales m
    INNER JOIN Oficinas o ON m.OficinaCreadoraId = o.OficinaId
    WHERE m.Activo = 1
GO
/****** Object:  Table [dbo].[ElementosPublicitarios]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElementosPublicitarios](
	[ElementoId] [int] IDENTITY(1,1) NOT NULL,
	[NombreElemento] [varchar](200) NOT NULL,
	[ValorUnitario] [decimal](18, 2) NOT NULL,
	[CantidadDisponible] [int] NOT NULL,
	[ValorTotal]  AS ([ValorUnitario]*[CantidadDisponible]),
	[OficinaCreadoraId] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioCreador] [varchar](100) NOT NULL,
	[RutaImagen] [nvarchar](255) NULL,
	[CantidadMinima] [int] NOT NULL,
 CONSTRAINT [PK_ElementosPublicitarios] PRIMARY KEY CLUSTERED 
(
	[ElementoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ReporteElementosPublicitarios]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE VIEW [dbo].[vw_ReporteElementosPublicitarios] AS
    SELECT 
        e.ElementoId,
        e.NombreElemento,
        e.ValorUnitario,
        e.CantidadDisponible,
        e.ValorTotal,
        o.NombreOficina AS OficinaCreadora,
        e.FechaCreacion
    FROM dbo.ElementosPublicitarios e
    JOIN dbo.Oficinas o ON e.OficinaCreadoraId = o.OficinaId
    WHERE e.Activo = 1
GO
/****** Object:  Table [dbo].[PrestamosElementos]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrestamosElementos](
	[PrestamoId] [int] IDENTITY(1,1) NOT NULL,
	[ElementoId] [int] NOT NULL,
	[UsuarioSolicitanteId] [int] NOT NULL,
	[OficinaId] [int] NOT NULL,
	[CantidadPrestada] [int] NOT NULL,
	[FechaPrestamo] [datetime] NOT NULL,
	[FechaDevolucionPrevista] [datetime] NOT NULL,
	[FechaDevolucionReal] [datetime] NULL,
	[Estado] [varchar](20) NOT NULL,
	[Evento] [varchar](200) NOT NULL,
	[Observaciones] [varchar](500) NULL,
	[UsuarioPrestador] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
	[UsuarioDevolucion] [varchar](100) NULL,
	[UsuarioAprobador] [varchar](100) NULL,
	[FechaAprobacion] [datetime] NULL,
	[UsuarioRechazador] [varchar](100) NULL,
	[FechaRechazo] [datetime] NULL,
	[FechaActualizacion] [datetime] NULL,
	[UsuarioActualizacion] [varchar](100) NULL,
	[MotivoRechazo] [varchar](500) NULL,
	[ObservacionesAprobacion] [varchar](500) NULL,
	[UltimoEstado] [varchar](20) NULL,
	[FechaUltimoCambio] [datetime] NULL,
	[UsuarioUltimoCambio] [varchar](100) NULL,
 CONSTRAINT [PK_PrestamosElementos] PRIMARY KEY CLUSTERED 
(
	[PrestamoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrestamosHistorialEstados]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrestamosHistorialEstados](
	[HistorialId] [int] IDENTITY(1,1) NOT NULL,
	[PrestamoId] [int] NOT NULL,
	[EstadoAnterior] [varchar](20) NULL,
	[EstadoNuevo] [varchar](20) NOT NULL,
	[UsuarioCambio] [varchar](100) NOT NULL,
	[FechaCambio] [datetime] NOT NULL,
	[Observaciones] [varchar](500) NULL,
	[TipoAccion] [varchar](50) NULL,
	[IpOrigen] [varchar](50) NULL,
	[UserAgent] [varchar](500) NULL,
 CONSTRAINT [PK_PrestamosHistorialEstados] PRIMARY KEY CLUSTERED 
(
	[HistorialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[ContraseñaHash] [varchar](255) NOT NULL,
	[Rol] [nvarchar](60) NOT NULL,
	[OficinaId] [int] NULL,
	[AprobadorId] [int] NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[CorreoElectronico] [varchar](255) NULL,
	[EsLDAP] [bit] NULL,
	[UsuarioAD] [nvarchar](100) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuarios_Nombre] UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TrazabilidadPrestamos]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE VIEW [dbo].[vw_TrazabilidadPrestamos] AS
    SELECT 
        pe.PrestamoId,
        pe.Estado AS EstadoActual,
        pe.FechaPrestamo,
        pe.FechaDevolucionPrevista,
        pe.FechaDevolucionReal,
        pe.UsuarioPrestador,
        pe.UsuarioAprobador,
        pe.FechaAprobacion,
        pe.UsuarioRechazador,
        pe.FechaRechazo,
        pe.UsuarioDevolucion,
        el.NombreElemento AS Material,
        u.NombreUsuario AS Solicitante,
        o.NombreOficina AS Oficina,
        -- Historial reciente
        (SELECT TOP 1 EstadoNuevo 
         FROM dbo.PrestamosHistorialEstados phe 
         WHERE phe.PrestamoId = pe.PrestamoId 
         ORDER BY phe.FechaCambio DESC) AS UltimoEstadoRegistrado,
        (SELECT TOP 1 FechaCambio 
         FROM dbo.PrestamosHistorialEstados phe 
         WHERE phe.PrestamoId = pe.PrestamoId 
         ORDER BY phe.FechaCambio DESC) AS FechaUltimoCambioRegistrado,
        (SELECT COUNT(*) 
         FROM dbo.PrestamosHistorialEstados phe 
         WHERE phe.PrestamoId = pe.PrestamoId) AS TotalCambiosEstado
    FROM dbo.PrestamosElementos pe
    INNER JOIN dbo.ElementosPublicitarios el ON pe.ElementoId = el.ElementoId
    INNER JOIN dbo.Usuarios u ON pe.UsuarioSolicitanteId = u.UsuarioId
    INNER JOIN dbo.Oficinas o ON pe.OficinaId = o.OficinaId
    WHERE pe.Activo = 1
GO
/****** Object:  Table [dbo].[Asignaciones]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignaciones](
	[AsignacionId] [int] IDENTITY(1,1) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[UsuarioAsignadoId] [int] NOT NULL,
	[OficinaId] [int] NOT NULL,
	[FechaAsignacion] [datetime] NOT NULL,
	[FechaDevolucion] [datetime] NULL,
	[Estado] [varchar](20) NOT NULL,
	[Observaciones] [varchar](500) NULL,
	[UsuarioAsignador] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
	[UsuarioADNombre] [nvarchar](255) NULL,
	[UsuarioADEmail] [nvarchar](255) NULL,
	[FechaConfirmacion] [datetime] NULL,
	[UsuarioConfirmacion] [nvarchar](100) NULL,
	[MotivoDevolucion] [nvarchar](500) NULL,
	[ObservacionesDevolucion] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[AsignacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductosCorporativos]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductosCorporativos](
	[ProductoId] [int] IDENTITY(1,1) NOT NULL,
	[CodigoUnico] [varchar](50) NOT NULL,
	[NombreProducto] [varchar](200) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[CategoriaId] [int] NOT NULL,
	[ProveedorId] [int] NOT NULL,
	[ValorUnitario] [decimal](18, 2) NOT NULL,
	[CantidadDisponible] [int] NOT NULL,
	[CantidadMinima] [int] NOT NULL,
	[Ubicacion] [varchar](100) NULL,
	[EsAsignable] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioCreador] [varchar](100) NOT NULL,
	[RutaImagen] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodigoUnico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriasProductos]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasProductos](
	[CategoriaId] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](100) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
 CONSTRAINT [PK_CategoriasProductos] PRIMARY KEY CLUSTERED 
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CategoriasProductos_Nombre] UNIQUE NONCLUSTERED 
(
	[NombreCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Devoluciones]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Devoluciones] AS
SELECT 
    a.AsignacionId,
    p.ProductoId,
    p.CodigoUnico,
    p.NombreProducto,
    c.NombreCategoria AS Categoria,
    o.NombreOficina AS Oficina,
    a.UsuarioADNombre AS UsuarioDevuelve,
    a.FechaAsignacion,
    a.FechaDevolucion,
    DATEDIFF(day, a.FechaAsignacion, a.FechaDevolucion) AS DiasEnPosesion,
    a.MotivoDevolucion,
    a.ObservacionesDevolucion
FROM Asignaciones a
INNER JOIN ProductosCorporativos p ON a.ProductoId = p.ProductoId
INNER JOIN CategoriasProductos c ON p.CategoriaId = c.CategoriaId
INNER JOIN Oficinas o ON a.OficinaId = o.OficinaId
WHERE a.Estado = 'DEVUELTO' AND a.Activo = 1;
GO
/****** Object:  Table [dbo].[AsignacionesCorporativasHistorial]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsignacionesCorporativasHistorial](
	[HistorialId] [int] IDENTITY(1,1) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[OficinaId] [int] NULL,
	[Accion] [varchar](50) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[UsuarioAccion] [varchar](100) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Observaciones] [varchar](500) NULL,
	[UsuarioAsignadoNombre] [nvarchar](255) NULL,
	[UsuarioAsignadoEmail] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[HistorialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Traspasos]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Traspasos] AS
SELECT 
    h1.HistorialId AS TraspasoId,
    h1.ProductoId,
    p.CodigoUnico,
    p.NombreProducto,
    h1.OficinaId AS OficinaOrigenId,
    o1.NombreOficina AS OficinaOrigen,
    h2.OficinaId AS OficinaDestinoId,
    o2.NombreOficina AS OficinaDestino,
    h1.Cantidad,
    h1.Fecha AS FechaTraspaso,
    h1.UsuarioAccion,
    h1.Observaciones
FROM AsignacionesCorporativasHistorial h1
INNER JOIN AsignacionesCorporativasHistorial h2 
    ON h1.ProductoId = h2.ProductoId 
    AND h1.Cantidad = h2.Cantidad
    AND ABS(DATEDIFF(second, h1.Fecha, h2.Fecha)) <= 5
    AND h1.Accion = 'TRASPASO_SALIDA'
    AND h2.Accion = 'TRASPASO_ENTRADA'
INNER JOIN ProductosCorporativos p ON h1.ProductoId = p.ProductoId
INNER JOIN Oficinas o1 ON h1.OficinaId = o1.OficinaId
INNER JOIN Oficinas o2 ON h2.OficinaId = o2.OficinaId;
GO
/****** Object:  Table [dbo].[BajasInventarioCorporativo]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BajasInventarioCorporativo](
	[BajaId] [int] IDENTITY(1,1) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[AsignacionId] [int] NOT NULL,
	[Motivo] [nvarchar](500) NOT NULL,
	[UsuarioBaja] [nvarchar](100) NOT NULL,
	[FechaBaja] [datetime] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BajaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devoluciones]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devoluciones](
	[DevolucionId] [int] IDENTITY(1,1) NOT NULL,
	[SolicitudId] [int] NOT NULL,
	[MaterialId] [int] NOT NULL,
	[CantidadDevuelta] [int] NOT NULL,
	[FechaDevolucion] [datetime] NOT NULL,
	[UsuarioDevolucion] [varchar](100) NOT NULL,
	[Observaciones] [varchar](500) NULL,
	[EstadoDevolucion] [varchar](20) NOT NULL,
	[CondicionMaterial] [varchar](50) NULL,
	[FechaAprobacion] [datetime] NULL,
	[UsuarioAprobador] [nvarchar](100) NULL,
	[ObservacionesAprobacion] [nvarchar](500) NULL,
	[RutaImagen] [nvarchar](255) NULL,
 CONSTRAINT [PK_Devoluciones] PRIMARY KEY CLUSTERED 
(
	[DevolucionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DevolucionesInventarioCorporativo]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevolucionesInventarioCorporativo](
	[DevolucionId] [int] IDENTITY(1,1) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[OficinaId] [int] NOT NULL,
	[AsignacionId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Motivo] [nvarchar](500) NOT NULL,
	[EstadoDevolucion] [nvarchar](50) NOT NULL,
	[UsuarioSolicita] [nvarchar](100) NOT NULL,
	[FechaSolicitud] [datetime] NOT NULL,
	[UsuarioAprueba] [nvarchar](100) NULL,
	[FechaAprobacion] [datetime] NULL,
	[ObservacionesAprobacion] [nvarchar](500) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DevolucionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialEntregas]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialEntregas](
	[HistorialId] [int] IDENTITY(1,1) NOT NULL,
	[SolicitudId] [int] NOT NULL,
	[CantidadEntregada] [int] NOT NULL,
	[FechaEntrega] [datetime] NULL,
	[UsuarioEntrega] [varchar](100) NOT NULL,
	[Observaciones] [varchar](500) NULL,
	[TipoMovimiento] [varchar](20) NULL,
 CONSTRAINT [PK_HistorialEntregas] PRIMARY KEY CLUSTERED 
(
	[HistorialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientosInventario]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientosInventario](
	[MovimientoId] [int] IDENTITY(1,1) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[TipoMovimiento] [varchar](20) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[FechaMovimiento] [datetime] NOT NULL,
	[UsuarioMovimiento] [varchar](100) NOT NULL,
	[Observaciones] [varchar](500) NULL,
	[Referencia] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MovimientoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificacionesAsignacionLog]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificacionesAsignacionLog](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[AsignacionId] [int] NULL,
	[ProductoId] [int] NOT NULL,
	[DestinatarioEmail] [nvarchar](255) NOT NULL,
	[DestinatarioNombre] [nvarchar](255) NULL,
	[FechaEnvio] [datetime] NULL,
	[Estado] [nvarchar](50) NULL,
	[MensajeError] [nvarchar](max) NULL,
	[UsuarioEnviador] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NovedadesSolicitudes]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NovedadesSolicitudes](
	[NovedadId] [int] IDENTITY(1,1) NOT NULL,
	[SolicitudId] [int] NOT NULL,
	[TipoNovedad] [varchar](50) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[CantidadAfectada] [int] NULL,
	[EstadoNovedad] [varchar](50) NOT NULL,
	[UsuarioRegistra] [varchar](100) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[UsuarioResuelve] [varchar](100) NULL,
	[FechaResolucion] [datetime] NULL,
	[ObservacionesResolucion] [varchar](500) NULL,
	[RutaImagen] [nvarchar](255) NULL,
 CONSTRAINT [PK_NovedadesSolicitudes] PRIMARY KEY CLUSTERED 
(
	[NovedadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrestamosMaterial]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrestamosMaterial](
	[PrestamoId] [int] IDENTITY(1,1) NOT NULL,
	[MaterialId] [int] NOT NULL,
	[UsuarioSolicitanteId] [int] NOT NULL,
	[OficinaId] [int] NOT NULL,
	[CantidadPrestada] [int] NOT NULL,
	[FechaPrestamo] [datetime] NOT NULL,
	[FechaDevolucionPrevista] [datetime] NOT NULL,
	[FechaDevolucionReal] [datetime] NULL,
	[Estado] [varchar](20) NOT NULL,
	[Evento] [varchar](200) NOT NULL,
	[Observaciones] [varchar](500) NULL,
	[UsuarioPrestador] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_PrestamosMaterial] PRIMARY KEY CLUSTERED 
(
	[PrestamoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrestamosTrazabilidad]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrestamosTrazabilidad](
	[TrazabilidadId] [int] IDENTITY(1,1) NOT NULL,
	[PrestamoId] [int] NOT NULL,
	[CampoModificado] [varchar](100) NOT NULL,
	[ValorAnterior] [varchar](500) NULL,
	[ValorNuevo] [varchar](500) NULL,
	[UsuarioModificacion] [varchar](100) NOT NULL,
	[FechaModificacion] [datetime] NOT NULL,
	[TipoModificacion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TrazabilidadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[ProveedorId] [int] IDENTITY(1,1) NOT NULL,
	[NombreProveedor] [varchar](200) NOT NULL,
	[Contacto] [varchar](100) NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](150) NULL,
	[Direccion] [varchar](300) NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[ProveedorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TokensConfirmacionAsignacion]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TokensConfirmacionAsignacion](
	[TokenId] [int] IDENTITY(1,1) NOT NULL,
	[AsignacionId] [int] NOT NULL,
	[Token] [nvarchar](100) NOT NULL,
	[TokenHash] [nvarchar](100) NOT NULL,
	[UsuarioEmail] [nvarchar](255) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaExpiracion] [datetime] NOT NULL,
	[Utilizado] [bit] NOT NULL,
	[FechaUtilizacion] [datetime] NULL,
	[UsuarioConfirmacion] [nvarchar](100) NULL,
	[DireccionIP] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[NumeroIdentificacion] [varchar](20) NULL,
 CONSTRAINT [PK_TokensConfirmacionAsignacion] PRIMARY KEY CLUSTERED 
(
	[TokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TraspasosInventarioCorporativo]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraspasosInventarioCorporativo](
	[TraspasoId] [int] IDENTITY(1,1) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[OficinaOrigenId] [int] NOT NULL,
	[OficinaDestinoId] [int] NOT NULL,
	[AsignacionOrigenId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Motivo] [nvarchar](500) NOT NULL,
	[EstadoTraspaso] [nvarchar](50) NOT NULL,
	[UsuarioSolicita] [nvarchar](100) NOT NULL,
	[FechaSolicitud] [datetime] NOT NULL,
	[UsuarioAprueba] [nvarchar](100) NULL,
	[FechaAprobacion] [datetime] NULL,
	[ObservacionesAprobacion] [nvarchar](500) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TraspasoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Asignaciones_Estado]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Asignaciones_Estado] ON [dbo].[Asignaciones]
(
	[Estado] ASC
)
INCLUDE([ProductoId],[OficinaId],[FechaAsignacion]) 
WHERE ([Activo]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Asignaciones_FechaDevolucion]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Asignaciones_FechaDevolucion] ON [dbo].[Asignaciones]
(
	[FechaDevolucion] ASC
)
WHERE ([FechaDevolucion] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Asignaciones_Producto]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Asignaciones_Producto] ON [dbo].[Asignaciones]
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Asignaciones_Usuario]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Asignaciones_Usuario] ON [dbo].[Asignaciones]
(
	[UsuarioAsignadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Asignaciones_UsuarioADNombre]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Asignaciones_UsuarioADNombre] ON [dbo].[Asignaciones]
(
	[UsuarioADNombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Historial_Accion]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Historial_Accion] ON [dbo].[AsignacionesCorporativasHistorial]
(
	[Accion] ASC,
	[Fecha] DESC
)
INCLUDE([ProductoId],[OficinaId],[Cantidad]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BajasInvCorp_Fecha]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_BajasInvCorp_Fecha] ON [dbo].[BajasInventarioCorporativo]
(
	[FechaBaja] DESC,
	[Activo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Devoluciones_SolicitudFecha]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Devoluciones_SolicitudFecha] ON [dbo].[Devoluciones]
(
	[SolicitudId] ASC,
	[FechaDevolucion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DevolucionesInvCorp_Estado]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_DevolucionesInvCorp_Estado] ON [dbo].[DevolucionesInventarioCorporativo]
(
	[EstadoDevolucion] ASC,
	[Activo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DevolucionesInvCorp_Oficina]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_DevolucionesInvCorp_Oficina] ON [dbo].[DevolucionesInventarioCorporativo]
(
	[OficinaId] ASC,
	[FechaSolicitud] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ElementosPublicitarios_Oficina]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_ElementosPublicitarios_Oficina] ON [dbo].[ElementosPublicitarios]
(
	[OficinaCreadoraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_ElementosPublicitarios_Oficina_Nombre]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ElementosPublicitarios_Oficina_Nombre] ON [dbo].[ElementosPublicitarios]
(
	[OficinaCreadoraId] ASC,
	[NombreElemento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Historial_SolicitudFecha]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Historial_SolicitudFecha] ON [dbo].[HistorialEntregas]
(
	[SolicitudId] ASC,
	[FechaEntrega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Materiales_Oficina]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Materiales_Oficina] ON [dbo].[Materiales]
(
	[OficinaCreadoraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Movimientos_ProductoFecha]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Movimientos_ProductoFecha] ON [dbo].[MovimientosInventario]
(
	[ProductoId] ASC,
	[FechaMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NotificacionesLog_Destinatario]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_NotificacionesLog_Destinatario] ON [dbo].[NotificacionesAsignacionLog]
(
	[DestinatarioEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NotificacionesLog_Fecha]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_NotificacionesLog_Fecha] ON [dbo].[NotificacionesAsignacionLog]
(
	[FechaEnvio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Novedades_Solicitud]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Novedades_Solicitud] ON [dbo].[NovedadesSolicitudes]
(
	[SolicitudId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PrestamosHistorial_Estado]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_PrestamosHistorial_Estado] ON [dbo].[PrestamosHistorialEstados]
(
	[EstadoNuevo] ASC,
	[FechaCambio] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PrestamosHistorial_PrestamoFecha]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_PrestamosHistorial_PrestamoFecha] ON [dbo].[PrestamosHistorialEstados]
(
	[PrestamoId] ASC,
	[FechaCambio] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PrestamosHistorial_Usuario]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_PrestamosHistorial_Usuario] ON [dbo].[PrestamosHistorialEstados]
(
	[UsuarioCambio] ASC,
	[FechaCambio] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Prestamos_Fechas]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Prestamos_Fechas] ON [dbo].[PrestamosMaterial]
(
	[FechaPrestamo] ASC,
	[FechaDevolucionPrevista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Prestamos_Material]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Prestamos_Material] ON [dbo].[PrestamosMaterial]
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Prestamos_Usuario]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Prestamos_Usuario] ON [dbo].[PrestamosMaterial]
(
	[UsuarioSolicitanteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PrestamosTrazabilidad_Prestamo]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_PrestamosTrazabilidad_Prestamo] ON [dbo].[PrestamosTrazabilidad]
(
	[PrestamoId] ASC,
	[FechaModificacion] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Productos_Categoria]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Productos_Categoria] ON [dbo].[ProductosCorporativos]
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Productos_Proveedor]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Productos_Proveedor] ON [dbo].[ProductosCorporativos]
(
	[ProveedorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Solicitudes_Fecha]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Solicitudes_Fecha] ON [dbo].[SolicitudesMaterial]
(
	[FechaSolicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Solicitudes_OficinaEstado]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Solicitudes_OficinaEstado] ON [dbo].[SolicitudesMaterial]
(
	[OficinaSolicitanteId] ASC,
	[EstadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TokensConfirmacion_AsignacionId]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_TokensConfirmacion_AsignacionId] ON [dbo].[TokensConfirmacionAsignacion]
(
	[AsignacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TokensConfirmacion_Email]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_TokensConfirmacion_Email] ON [dbo].[TokensConfirmacionAsignacion]
(
	[UsuarioEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TokensConfirmacion_NumeroIdentificacion]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_TokensConfirmacion_NumeroIdentificacion] ON [dbo].[TokensConfirmacionAsignacion]
(
	[NumeroIdentificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TokensConfirmacion_TokenHash]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TokensConfirmacion_TokenHash] ON [dbo].[TokensConfirmacionAsignacion]
(
	[TokenHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TraspasosInvCorp_Estado]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_TraspasosInvCorp_Estado] ON [dbo].[TraspasosInventarioCorporativo]
(
	[EstadoTraspaso] ASC,
	[Activo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TraspasosInvCorp_Oficinas]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_TraspasosInvCorp_Oficinas] ON [dbo].[TraspasosInventarioCorporativo]
(
	[OficinaOrigenId] ASC,
	[OficinaDestinoId] ASC,
	[FechaSolicitud] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuarios_UsuarioAD]    Script Date: 2/25/2026 7:06:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_UsuarioAD] ON [dbo].[Usuarios]
(
	[UsuarioAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aprobadores] ADD  CONSTRAINT [DF_Aprobadores_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Aprobadores] ADD  CONSTRAINT [DF_Aprobadores_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Asignaciones] ADD  DEFAULT (getdate()) FOR [FechaAsignacion]
GO
ALTER TABLE [dbo].[Asignaciones] ADD  DEFAULT ('ASIGNADO') FOR [Estado]
GO
ALTER TABLE [dbo].[Asignaciones] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[AsignacionesCorporativasHistorial] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[BajasInventarioCorporativo] ADD  DEFAULT (getdate()) FOR [FechaBaja]
GO
ALTER TABLE [dbo].[BajasInventarioCorporativo] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[CategoriasProductos] ADD  CONSTRAINT [DF_CategoriasProductos_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[CategoriasProductos] ADD  CONSTRAINT [DF_CategoriasProductos_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Devoluciones] ADD  CONSTRAINT [DF_Devoluciones_FechaDevolucion]  DEFAULT (getdate()) FOR [FechaDevolucion]
GO
ALTER TABLE [dbo].[Devoluciones] ADD  CONSTRAINT [DF_Devoluciones_EstadoDevolucion]  DEFAULT ('COMPLETADA') FOR [EstadoDevolucion]
GO
ALTER TABLE [dbo].[DevolucionesInventarioCorporativo] ADD  DEFAULT ('PENDIENTE') FOR [EstadoDevolucion]
GO
ALTER TABLE [dbo].[DevolucionesInventarioCorporativo] ADD  DEFAULT (getdate()) FOR [FechaSolicitud]
GO
ALTER TABLE [dbo].[DevolucionesInventarioCorporativo] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ElementosPublicitarios] ADD  CONSTRAINT [DF_ElementosPublicitarios_CantidadDisponible]  DEFAULT ((0)) FOR [CantidadDisponible]
GO
ALTER TABLE [dbo].[ElementosPublicitarios] ADD  CONSTRAINT [DF_ElementosPublicitarios_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ElementosPublicitarios] ADD  CONSTRAINT [DF_ElementosPublicitarios_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[ElementosPublicitarios] ADD  CONSTRAINT [DF_ElementosPublicitarios_CantidadMinima]  DEFAULT ((10)) FOR [CantidadMinima]
GO
ALTER TABLE [dbo].[EstadosSolicitud] ADD  CONSTRAINT [DF_EstadosSolicitud_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[HistorialEntregas] ADD  CONSTRAINT [DF_HistorialEntregas_FechaEntrega]  DEFAULT (getdate()) FOR [FechaEntrega]
GO
ALTER TABLE [dbo].[HistorialEntregas] ADD  CONSTRAINT [DF_HistorialEntregas_TipoMovimiento]  DEFAULT ('ENTREGA') FOR [TipoMovimiento]
GO
ALTER TABLE [dbo].[Materiales] ADD  CONSTRAINT [DF_Materiales_CantidadDisponible]  DEFAULT ((0)) FOR [CantidadDisponible]
GO
ALTER TABLE [dbo].[Materiales] ADD  CONSTRAINT [DF_Materiales_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Materiales] ADD  CONSTRAINT [DF_Materiales_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Materiales] ADD  CONSTRAINT [DF_Materiales_CantidadMinima]  DEFAULT ((10)) FOR [CantidadMinima]
GO
ALTER TABLE [dbo].[MovimientosInventario] ADD  DEFAULT (getdate()) FOR [FechaMovimiento]
GO
ALTER TABLE [dbo].[NotificacionesAsignacionLog] ADD  DEFAULT (getdate()) FOR [FechaEnvio]
GO
ALTER TABLE [dbo].[NotificacionesAsignacionLog] ADD  DEFAULT ('ENVIADO') FOR [Estado]
GO
ALTER TABLE [dbo].[NovedadesSolicitudes] ADD  CONSTRAINT [DF_NovedadesSolicitudes_FechaRegistro]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Oficinas] ADD  CONSTRAINT [DF_Oficinas_EsPrincipal]  DEFAULT ((0)) FOR [EsPrincipal]
GO
ALTER TABLE [dbo].[Oficinas] ADD  CONSTRAINT [DF_Oficinas_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Oficinas] ADD  CONSTRAINT [DF_Oficinas_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[PrestamosElementos] ADD  CONSTRAINT [DF_PrestamosElementos_FechaPrestamo]  DEFAULT (getdate()) FOR [FechaPrestamo]
GO
ALTER TABLE [dbo].[PrestamosElementos] ADD  CONSTRAINT [DF_PrestamosElementos_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[PrestamosHistorialEstados] ADD  CONSTRAINT [DF_PrestamosHistorialEstados_FechaCambio]  DEFAULT (getdate()) FOR [FechaCambio]
GO
ALTER TABLE [dbo].[PrestamosMaterial] ADD  CONSTRAINT [DF_PrestamosMaterial_FechaPrestamo]  DEFAULT (getdate()) FOR [FechaPrestamo]
GO
ALTER TABLE [dbo].[PrestamosMaterial] ADD  CONSTRAINT [DF_PrestamosMaterial_Estado]  DEFAULT ('PRESTADO') FOR [Estado]
GO
ALTER TABLE [dbo].[PrestamosMaterial] ADD  CONSTRAINT [DF_PrestamosMaterial_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[PrestamosTrazabilidad] ADD  DEFAULT (getdate()) FOR [FechaModificacion]
GO
ALTER TABLE [dbo].[ProductosCorporativos] ADD  DEFAULT ((0)) FOR [CantidadDisponible]
GO
ALTER TABLE [dbo].[ProductosCorporativos] ADD  DEFAULT ((5)) FOR [CantidadMinima]
GO
ALTER TABLE [dbo].[ProductosCorporativos] ADD  DEFAULT ((1)) FOR [EsAsignable]
GO
ALTER TABLE [dbo].[ProductosCorporativos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ProductosCorporativos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Proveedores] ADD  CONSTRAINT [DF_Proveedores_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Proveedores] ADD  CONSTRAINT [DF_Proveedores_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  CONSTRAINT [DF_SolicitudesMaterial_FechaSolicitud]  DEFAULT (getdate()) FOR [FechaSolicitud]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  CONSTRAINT [DF_SolicitudesMaterial_EstadoId]  DEFAULT ((1)) FOR [EstadoId]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  CONSTRAINT [DF_SolicitudesMaterial_AprobadorId]  DEFAULT ((1)) FOR [AprobadorId]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  CONSTRAINT [DF_SolicitudesMaterial_FechaAprobacion]  DEFAULT (getdate()) FOR [FechaAprobacion]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  CONSTRAINT [DF_SolicitudesMaterial_CantidadEntregada]  DEFAULT ((0)) FOR [CantidadEntregada]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  CONSTRAINT [DF_SolicitudesMaterial_FechaUltimaEntrega]  DEFAULT (getdate()) FOR [FechaUltimaEntrega]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  CONSTRAINT [DF_SolicitudesMaterial_ValorTotalSolicitado]  DEFAULT ((0.00)) FOR [ValorTotalSolicitado]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  CONSTRAINT [DF_SolicitudesMaterial_ValorOficina]  DEFAULT ((0.00)) FOR [ValorOficina]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  CONSTRAINT [DF_SolicitudesMaterial_ValorSedePrincipal]  DEFAULT ((0.00)) FOR [ValorSedePrincipal]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  CONSTRAINT [DF_SolicitudesMaterial_FechaCalculoValores]  DEFAULT (getdate()) FOR [FechaCalculoValores]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  CONSTRAINT [DF_SolicitudesMaterial_UsuarioSolicitante]  DEFAULT ('administrador') FOR [UsuarioSolicitante]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  CONSTRAINT [DF_SolicitudesMaterial_TieneNovedad]  DEFAULT ((0)) FOR [TieneNovedad]
GO
ALTER TABLE [dbo].[TokensConfirmacionAsignacion] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[TokensConfirmacionAsignacion] ADD  DEFAULT ((0)) FOR [Utilizado]
GO
ALTER TABLE [dbo].[TraspasosInventarioCorporativo] ADD  DEFAULT ('PENDIENTE') FOR [EstadoTraspaso]
GO
ALTER TABLE [dbo].[TraspasosInventarioCorporativo] ADD  DEFAULT (getdate()) FOR [FechaSolicitud]
GO
ALTER TABLE [dbo].[TraspasosInventarioCorporativo] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [EsLDAP]
GO
ALTER TABLE [dbo].[Asignaciones]  WITH NOCHECK ADD  CONSTRAINT [FK_Asignaciones_Oficina] FOREIGN KEY([OficinaId])
REFERENCES [dbo].[Oficinas] ([OficinaId])
GO
ALTER TABLE [dbo].[Asignaciones] CHECK CONSTRAINT [FK_Asignaciones_Oficina]
GO
ALTER TABLE [dbo].[Asignaciones]  WITH NOCHECK ADD  CONSTRAINT [FK_Asignaciones_Producto] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[ProductosCorporativos] ([ProductoId])
GO
ALTER TABLE [dbo].[Asignaciones] CHECK CONSTRAINT [FK_Asignaciones_Producto]
GO
ALTER TABLE [dbo].[Asignaciones]  WITH NOCHECK ADD  CONSTRAINT [FK_Asignaciones_Usuario] FOREIGN KEY([UsuarioAsignadoId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Asignaciones] CHECK CONSTRAINT [FK_Asignaciones_Usuario]
GO
ALTER TABLE [dbo].[AsignacionesCorporativasHistorial]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionesHistorial_Oficina] FOREIGN KEY([OficinaId])
REFERENCES [dbo].[Oficinas] ([OficinaId])
GO
ALTER TABLE [dbo].[AsignacionesCorporativasHistorial] CHECK CONSTRAINT [FK_AsignacionesHistorial_Oficina]
GO
ALTER TABLE [dbo].[AsignacionesCorporativasHistorial]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionesHistorial_Producto] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[ProductosCorporativos] ([ProductoId])
GO
ALTER TABLE [dbo].[AsignacionesCorporativasHistorial] CHECK CONSTRAINT [FK_AsignacionesHistorial_Producto]
GO
ALTER TABLE [dbo].[BajasInventarioCorporativo]  WITH CHECK ADD  CONSTRAINT [FK_BajasInvCorp_Asignacion] FOREIGN KEY([AsignacionId])
REFERENCES [dbo].[Asignaciones] ([AsignacionId])
GO
ALTER TABLE [dbo].[BajasInventarioCorporativo] CHECK CONSTRAINT [FK_BajasInvCorp_Asignacion]
GO
ALTER TABLE [dbo].[BajasInventarioCorporativo]  WITH CHECK ADD  CONSTRAINT [FK_BajasInvCorp_Producto] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[ProductosCorporativos] ([ProductoId])
GO
ALTER TABLE [dbo].[BajasInventarioCorporativo] CHECK CONSTRAINT [FK_BajasInvCorp_Producto]
GO
ALTER TABLE [dbo].[Devoluciones]  WITH NOCHECK ADD  CONSTRAINT [FK_Devoluciones_Material] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materiales] ([MaterialId])
GO
ALTER TABLE [dbo].[Devoluciones] CHECK CONSTRAINT [FK_Devoluciones_Material]
GO
ALTER TABLE [dbo].[Devoluciones]  WITH NOCHECK ADD  CONSTRAINT [FK_Devoluciones_Solicitud] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[SolicitudesMaterial] ([SolicitudId])
GO
ALTER TABLE [dbo].[Devoluciones] CHECK CONSTRAINT [FK_Devoluciones_Solicitud]
GO
ALTER TABLE [dbo].[DevolucionesInventarioCorporativo]  WITH CHECK ADD  CONSTRAINT [FK_DevolucionesInvCorp_Asignacion] FOREIGN KEY([AsignacionId])
REFERENCES [dbo].[Asignaciones] ([AsignacionId])
GO
ALTER TABLE [dbo].[DevolucionesInventarioCorporativo] CHECK CONSTRAINT [FK_DevolucionesInvCorp_Asignacion]
GO
ALTER TABLE [dbo].[DevolucionesInventarioCorporativo]  WITH CHECK ADD  CONSTRAINT [FK_DevolucionesInvCorp_Oficina] FOREIGN KEY([OficinaId])
REFERENCES [dbo].[Oficinas] ([OficinaId])
GO
ALTER TABLE [dbo].[DevolucionesInventarioCorporativo] CHECK CONSTRAINT [FK_DevolucionesInvCorp_Oficina]
GO
ALTER TABLE [dbo].[DevolucionesInventarioCorporativo]  WITH CHECK ADD  CONSTRAINT [FK_DevolucionesInvCorp_Producto] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[ProductosCorporativos] ([ProductoId])
GO
ALTER TABLE [dbo].[DevolucionesInventarioCorporativo] CHECK CONSTRAINT [FK_DevolucionesInvCorp_Producto]
GO
ALTER TABLE [dbo].[ElementosPublicitarios]  WITH NOCHECK ADD  CONSTRAINT [FK_ElementosPublicitarios_Oficina] FOREIGN KEY([OficinaCreadoraId])
REFERENCES [dbo].[Oficinas] ([OficinaId])
GO
ALTER TABLE [dbo].[ElementosPublicitarios] CHECK CONSTRAINT [FK_ElementosPublicitarios_Oficina]
GO
ALTER TABLE [dbo].[HistorialEntregas]  WITH NOCHECK ADD  CONSTRAINT [FK_Historial_Solicitud] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[SolicitudesMaterial] ([SolicitudId])
GO
ALTER TABLE [dbo].[HistorialEntregas] CHECK CONSTRAINT [FK_Historial_Solicitud]
GO
ALTER TABLE [dbo].[Materiales]  WITH NOCHECK ADD  CONSTRAINT [FK_Materiales_Oficina] FOREIGN KEY([OficinaCreadoraId])
REFERENCES [dbo].[Oficinas] ([OficinaId])
GO
ALTER TABLE [dbo].[Materiales] CHECK CONSTRAINT [FK_Materiales_Oficina]
GO
ALTER TABLE [dbo].[MovimientosInventario]  WITH CHECK ADD  CONSTRAINT [FK_Movimientos_Producto] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[ProductosCorporativos] ([ProductoId])
GO
ALTER TABLE [dbo].[MovimientosInventario] CHECK CONSTRAINT [FK_Movimientos_Producto]
GO
ALTER TABLE [dbo].[NovedadesSolicitudes]  WITH NOCHECK ADD  CONSTRAINT [FK_Novedades_Solicitud] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[SolicitudesMaterial] ([SolicitudId])
GO
ALTER TABLE [dbo].[NovedadesSolicitudes] CHECK CONSTRAINT [FK_Novedades_Solicitud]
GO
ALTER TABLE [dbo].[PrestamosElementos]  WITH NOCHECK ADD  CONSTRAINT [FK_PrestamosElementos_Elementos] FOREIGN KEY([ElementoId])
REFERENCES [dbo].[ElementosPublicitarios] ([ElementoId])
GO
ALTER TABLE [dbo].[PrestamosElementos] CHECK CONSTRAINT [FK_PrestamosElementos_Elementos]
GO
ALTER TABLE [dbo].[PrestamosElementos]  WITH NOCHECK ADD  CONSTRAINT [FK_PrestamosElementos_Oficinas] FOREIGN KEY([OficinaId])
REFERENCES [dbo].[Oficinas] ([OficinaId])
GO
ALTER TABLE [dbo].[PrestamosElementos] CHECK CONSTRAINT [FK_PrestamosElementos_Oficinas]
GO
ALTER TABLE [dbo].[PrestamosElementos]  WITH NOCHECK ADD  CONSTRAINT [FK_PrestamosElementos_Usuarios] FOREIGN KEY([UsuarioSolicitanteId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[PrestamosElementos] CHECK CONSTRAINT [FK_PrestamosElementos_Usuarios]
GO
ALTER TABLE [dbo].[PrestamosHistorialEstados]  WITH NOCHECK ADD  CONSTRAINT [FK_PrestamosHistorial_Prestamo] FOREIGN KEY([PrestamoId])
REFERENCES [dbo].[PrestamosElementos] ([PrestamoId])
GO
ALTER TABLE [dbo].[PrestamosHistorialEstados] CHECK CONSTRAINT [FK_PrestamosHistorial_Prestamo]
GO
ALTER TABLE [dbo].[PrestamosMaterial]  WITH NOCHECK ADD  CONSTRAINT [FK_Prestamos_Material] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materiales] ([MaterialId])
GO
ALTER TABLE [dbo].[PrestamosMaterial] CHECK CONSTRAINT [FK_Prestamos_Material]
GO
ALTER TABLE [dbo].[PrestamosMaterial]  WITH NOCHECK ADD  CONSTRAINT [FK_Prestamos_Oficina] FOREIGN KEY([OficinaId])
REFERENCES [dbo].[Oficinas] ([OficinaId])
GO
ALTER TABLE [dbo].[PrestamosMaterial] CHECK CONSTRAINT [FK_Prestamos_Oficina]
GO
ALTER TABLE [dbo].[PrestamosMaterial]  WITH NOCHECK ADD  CONSTRAINT [FK_Prestamos_Usuario] FOREIGN KEY([UsuarioSolicitanteId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[PrestamosMaterial] CHECK CONSTRAINT [FK_Prestamos_Usuario]
GO
ALTER TABLE [dbo].[PrestamosTrazabilidad]  WITH CHECK ADD  CONSTRAINT [FK_PrestamosTrazabilidad_Prestamo] FOREIGN KEY([PrestamoId])
REFERENCES [dbo].[PrestamosElementos] ([PrestamoId])
GO
ALTER TABLE [dbo].[PrestamosTrazabilidad] CHECK CONSTRAINT [FK_PrestamosTrazabilidad_Prestamo]
GO
ALTER TABLE [dbo].[ProductosCorporativos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categoria] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[CategoriasProductos] ([CategoriaId])
GO
ALTER TABLE [dbo].[ProductosCorporativos] CHECK CONSTRAINT [FK_Productos_Categoria]
GO
ALTER TABLE [dbo].[ProductosCorporativos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Proveedor] FOREIGN KEY([ProveedorId])
REFERENCES [dbo].[Proveedores] ([ProveedorId])
GO
ALTER TABLE [dbo].[ProductosCorporativos] CHECK CONSTRAINT [FK_Productos_Proveedor]
GO
ALTER TABLE [dbo].[SolicitudesMaterial]  WITH NOCHECK ADD  CONSTRAINT [FK_Solicitudes_Aprobador] FOREIGN KEY([AprobadorId])
REFERENCES [dbo].[Aprobadores] ([AprobadorId])
GO
ALTER TABLE [dbo].[SolicitudesMaterial] CHECK CONSTRAINT [FK_Solicitudes_Aprobador]
GO
ALTER TABLE [dbo].[SolicitudesMaterial]  WITH NOCHECK ADD  CONSTRAINT [FK_Solicitudes_Estado] FOREIGN KEY([EstadoId])
REFERENCES [dbo].[EstadosSolicitud] ([EstadoId])
GO
ALTER TABLE [dbo].[SolicitudesMaterial] CHECK CONSTRAINT [FK_Solicitudes_Estado]
GO
ALTER TABLE [dbo].[SolicitudesMaterial]  WITH NOCHECK ADD  CONSTRAINT [FK_Solicitudes_Material] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materiales] ([MaterialId])
GO
ALTER TABLE [dbo].[SolicitudesMaterial] CHECK CONSTRAINT [FK_Solicitudes_Material]
GO
ALTER TABLE [dbo].[SolicitudesMaterial]  WITH NOCHECK ADD  CONSTRAINT [FK_Solicitudes_Oficina] FOREIGN KEY([OficinaSolicitanteId])
REFERENCES [dbo].[Oficinas] ([OficinaId])
GO
ALTER TABLE [dbo].[SolicitudesMaterial] CHECK CONSTRAINT [FK_Solicitudes_Oficina]
GO
ALTER TABLE [dbo].[TokensConfirmacionAsignacion]  WITH CHECK ADD  CONSTRAINT [FK_TokensConfirmacion_Asignaciones] FOREIGN KEY([AsignacionId])
REFERENCES [dbo].[Asignaciones] ([AsignacionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TokensConfirmacionAsignacion] CHECK CONSTRAINT [FK_TokensConfirmacion_Asignaciones]
GO
ALTER TABLE [dbo].[TraspasosInventarioCorporativo]  WITH CHECK ADD  CONSTRAINT [FK_TraspasosInvCorp_Asignacion] FOREIGN KEY([AsignacionOrigenId])
REFERENCES [dbo].[Asignaciones] ([AsignacionId])
GO
ALTER TABLE [dbo].[TraspasosInventarioCorporativo] CHECK CONSTRAINT [FK_TraspasosInvCorp_Asignacion]
GO
ALTER TABLE [dbo].[TraspasosInventarioCorporativo]  WITH CHECK ADD  CONSTRAINT [FK_TraspasosInvCorp_OficinaDestino] FOREIGN KEY([OficinaDestinoId])
REFERENCES [dbo].[Oficinas] ([OficinaId])
GO
ALTER TABLE [dbo].[TraspasosInventarioCorporativo] CHECK CONSTRAINT [FK_TraspasosInvCorp_OficinaDestino]
GO
ALTER TABLE [dbo].[TraspasosInventarioCorporativo]  WITH CHECK ADD  CONSTRAINT [FK_TraspasosInvCorp_OficinaOrigen] FOREIGN KEY([OficinaOrigenId])
REFERENCES [dbo].[Oficinas] ([OficinaId])
GO
ALTER TABLE [dbo].[TraspasosInventarioCorporativo] CHECK CONSTRAINT [FK_TraspasosInvCorp_OficinaOrigen]
GO
ALTER TABLE [dbo].[TraspasosInventarioCorporativo]  WITH CHECK ADD  CONSTRAINT [FK_TraspasosInvCorp_Producto] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[ProductosCorporativos] ([ProductoId])
GO
ALTER TABLE [dbo].[TraspasosInventarioCorporativo] CHECK CONSTRAINT [FK_TraspasosInvCorp_Producto]
GO
ALTER TABLE [dbo].[Usuarios]  WITH NOCHECK ADD  CONSTRAINT [FK_Usuarios_Aprobadores] FOREIGN KEY([AprobadorId])
REFERENCES [dbo].[Aprobadores] ([AprobadorId])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Aprobadores]
GO
ALTER TABLE [dbo].[Usuarios]  WITH NOCHECK ADD  CONSTRAINT [FK_Usuarios_Oficinas] FOREIGN KEY([OficinaId])
REFERENCES [dbo].[Oficinas] ([OficinaId])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Oficinas]
GO
ALTER TABLE [dbo].[DevolucionesInventarioCorporativo]  WITH CHECK ADD  CONSTRAINT [CHK_DevolucionesInvCorp_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[DevolucionesInventarioCorporativo] CHECK CONSTRAINT [CHK_DevolucionesInvCorp_Cantidad]
GO
ALTER TABLE [dbo].[DevolucionesInventarioCorporativo]  WITH CHECK ADD  CONSTRAINT [CHK_DevolucionesInvCorp_Estado] CHECK  (([EstadoDevolucion]='RECHAZADA' OR [EstadoDevolucion]='APROBADA' OR [EstadoDevolucion]='PENDIENTE'))
GO
ALTER TABLE [dbo].[DevolucionesInventarioCorporativo] CHECK CONSTRAINT [CHK_DevolucionesInvCorp_Estado]
GO
ALTER TABLE [dbo].[HistorialEntregas]  WITH NOCHECK ADD  CONSTRAINT [CK_HistorialEntregas_CantidadPositiva] CHECK  (([CantidadEntregada]>(0)))
GO
ALTER TABLE [dbo].[HistorialEntregas] CHECK CONSTRAINT [CK_HistorialEntregas_CantidadPositiva]
GO
ALTER TABLE [dbo].[Materiales]  WITH NOCHECK ADD  CONSTRAINT [CK_Materiales_CantidadNoNegativa] CHECK  (([CantidadDisponible]>=(0)))
GO
ALTER TABLE [dbo].[Materiales] CHECK CONSTRAINT [CK_Materiales_CantidadNoNegativa]
GO
ALTER TABLE [dbo].[Materiales]  WITH NOCHECK ADD  CONSTRAINT [CK_Materiales_ValorUnitarioPositivo] CHECK  (([ValorUnitario]>(0)))
GO
ALTER TABLE [dbo].[Materiales] CHECK CONSTRAINT [CK_Materiales_ValorUnitarioPositivo]
GO
ALTER TABLE [dbo].[SolicitudesMaterial]  WITH NOCHECK ADD  CONSTRAINT [CHK_CantidadEntregada_No_Mayor_Solicitada] CHECK  (([CantidadEntregada]<=[CantidadSolicitada]))
GO
ALTER TABLE [dbo].[SolicitudesMaterial] CHECK CONSTRAINT [CHK_CantidadEntregada_No_Mayor_Solicitada]
GO
ALTER TABLE [dbo].[SolicitudesMaterial]  WITH NOCHECK ADD  CONSTRAINT [CK_SolicitudesMaterial_CantidadEntregada] CHECK  (([CantidadEntregada]>=(0)))
GO
ALTER TABLE [dbo].[SolicitudesMaterial] CHECK CONSTRAINT [CK_SolicitudesMaterial_CantidadEntregada]
GO
ALTER TABLE [dbo].[SolicitudesMaterial]  WITH NOCHECK ADD  CONSTRAINT [CK_SolicitudesMaterial_CantidadSolicitada] CHECK  (([CantidadSolicitada]>(0) AND [CantidadSolicitada]<=(1000)))
GO
ALTER TABLE [dbo].[SolicitudesMaterial] CHECK CONSTRAINT [CK_SolicitudesMaterial_CantidadSolicitada]
GO
ALTER TABLE [dbo].[SolicitudesMaterial]  WITH NOCHECK ADD  CONSTRAINT [CK_SolicitudesMaterial_PorcentajeOficina] CHECK  (([PorcentajeOficina]>=(0) AND [PorcentajeOficina]<=(100)))
GO
ALTER TABLE [dbo].[SolicitudesMaterial] CHECK CONSTRAINT [CK_SolicitudesMaterial_PorcentajeOficina]
GO
ALTER TABLE [dbo].[TraspasosInventarioCorporativo]  WITH CHECK ADD  CONSTRAINT [CHK_TraspasosInvCorp_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[TraspasosInventarioCorporativo] CHECK CONSTRAINT [CHK_TraspasosInvCorp_Cantidad]
GO
ALTER TABLE [dbo].[TraspasosInventarioCorporativo]  WITH CHECK ADD  CONSTRAINT [CHK_TraspasosInvCorp_Estado] CHECK  (([EstadoTraspaso]='RECHAZADO' OR [EstadoTraspaso]='APROBADO' OR [EstadoTraspaso]='PENDIENTE'))
GO
ALTER TABLE [dbo].[TraspasosInventarioCorporativo] CHECK CONSTRAINT [CHK_TraspasosInvCorp_Estado]
GO
ALTER TABLE [dbo].[TraspasosInventarioCorporativo]  WITH CHECK ADD  CONSTRAINT [CHK_TraspasosInvCorp_Oficinas] CHECK  (([OficinaOrigenId]<>[OficinaDestinoId]))
GO
ALTER TABLE [dbo].[TraspasosInventarioCorporativo] CHECK CONSTRAINT [CHK_TraspasosInvCorp_Oficinas]
GO
/****** Object:  StoredProcedure [dbo].[sp_AprobarParcialSolicitud]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AprobarParcialSolicitud]
    @SolicitudId INT,
    @AprobadorId INT,
    @CantidadAprobada INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @CantidadSolicitada INT, @MaterialId INT, @ValorUnitario DECIMAL(18,2);
    
    -- Obtener información de la solicitud
    SELECT @CantidadSolicitada = sm.CantidadSolicitada, 
           @MaterialId = sm.MaterialId,
           @ValorUnitario = m.ValorUnitario
    FROM SolicitudesMaterial sm
    INNER JOIN Materiales m ON sm.MaterialId = m.MaterialId
    WHERE sm.SolicitudId = @SolicitudId AND sm.EstadoId = 1;
    
    IF @CantidadSolicitada IS NULL
    BEGIN
        RAISERROR('Solicitud no encontrada o no está pendiente', 16, 1);
        RETURN;
    END
    
    IF @CantidadAprobada <= 0 OR @CantidadAprobada > @CantidadSolicitada
    BEGIN
        RAISERROR('Cantidad aprobada inválida', 16, 1);
        RETURN;
    END
    
    -- Calcular valores financieros
    DECLARE @ValorTotalAprobado DECIMAL(18,2) = @ValorUnitario * @CantidadAprobada;
    DECLARE @PorcentajeOficina DECIMAL(5,2);
    
    SELECT @PorcentajeOficina = PorcentajeOficina 
    FROM SolicitudesMaterial 
    WHERE SolicitudId = @SolicitudId;
    
    DECLARE @ValorOficina DECIMAL(18,2) = @ValorTotalAprobado * (@PorcentajeOficina / 100);
    DECLARE @ValorSedePrincipal DECIMAL(18,2) = @ValorTotalAprobado - @ValorOficina;
    
    BEGIN TRANSACTION;
    
    -- Actualizar la solicitud original con la cantidad aprobada
    UPDATE SolicitudesMaterial 
    SET EstadoId = 2, -- Aprobada
        AprobadorId = @AprobadorId,
        FechaAprobacion = GETDATE(),
        CantidadEntregada = @CantidadAprobada, -- Guardar la cantidad aprobada/entregada
        ValorTotalSolicitado = @ValorTotalAprobado,
        ValorOficina = @ValorOficina,
        ValorSedePrincipal = @ValorSedePrincipal,
        FechaUltimaEntrega = GETDATE()
    WHERE SolicitudId = @SolicitudId;
    
    -- Actualizar stock
    UPDATE Materiales 
    SET CantidadDisponible = CantidadDisponible - @CantidadAprobada
    WHERE MaterialId = @MaterialId;
    
    -- Registrar en historial de entregas
    INSERT INTO HistorialEntregas (SolicitudId, CantidadEntregada, UsuarioEntrega, Observaciones)
    VALUES (@SolicitudId, @CantidadAprobada, 'Sistema', 'Aprobación parcial');
    
    COMMIT TRANSACTION;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AprobarSolicitud]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AprobarSolicitud]
    @SolicitudId INT,
    @AprobadorId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE SolicitudesMaterial 
    SET EstadoId = 2,
        AprobadorId = @AprobadorId,
        FechaAprobacion = GETDATE()
    WHERE SolicitudId = @SolicitudId
    AND EstadoId = 1;
    
    IF @@ROWCOUNT = 0
        RAISERROR('Solicitud no encontrada o ya fue procesada', 16, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarAsignacionesPorUsuarioAD]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BuscarAsignacionesPorUsuarioAD]
    @NombreUsuario NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        a.AsignacionId,
        p.CodigoUnico,
        p.NombreProducto,
        c.NombreCategoria AS Categoria,
        o.NombreOficina,
        a.UsuarioADNombre,
        a.UsuarioADEmail,
        a.FechaAsignacion,
        a.Estado,
        a.UsuarioAsignador
    FROM Asignaciones a
    INNER JOIN ProductosCorporativos p ON a.ProductoId = p.ProductoId
    INNER JOIN CategoriasProductos c ON p.CategoriaId = c.CategoriaId
    INNER JOIN Oficinas o ON a.OficinaId = o.OficinaId
    WHERE a.Activo = 1
    AND (
        a.UsuarioADNombre LIKE '%' + @NombreUsuario + '%'
        OR a.UsuarioADEmail LIKE '%' + @NombreUsuario + '%'
    )
    ORDER BY a.FechaAsignacion DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CrearElementoPrestamo]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CrearElementoPrestamo]
  @MaterialId              INT,
  @UsuarioSolicitanteId    INT,
  @OficinaId               INT,
  @CantidadPrestada        INT,
  @FechaDevolucionPrevista DATETIME,
  @Evento                  VARCHAR(200),
  @Observaciones           VARCHAR(500) = NULL,
  @UsuarioPrestador        VARCHAR(100)
AS
BEGIN
  SET NOCOUNT ON;

  -- Validaciones básicas
  IF @CantidadPrestada <= 0
  BEGIN
    RAISERROR('La cantidad debe ser mayor que 0', 16, 1);
    RETURN;
  END;

  DECLARE @Disponible INT;
  SELECT @Disponible = CantidadDisponible
  FROM Materiales
  WHERE MaterialId = @MaterialId;

  IF @Disponible IS NULL
  BEGIN
    RAISERROR('Material no existe', 16, 1);
    RETURN;
  END;

  IF @CantidadPrestada > @Disponible
  BEGIN
    RAISERROR('Cantidad prestada excede el inventario disponible', 16, 1);
    RETURN;
  END;

  BEGIN TRANSACTION;

  INSERT INTO PrestamosMaterial
    (MaterialId, UsuarioSolicitanteId, OficinaId, CantidadPrestada,
     FechaPrestamo, FechaDevolucionPrevista, FechaDevolucionReal,
     Estado, Evento, Observaciones, UsuarioPrestador, Activo)
  VALUES
    (@MaterialId, @UsuarioSolicitanteId, @OficinaId, @CantidadPrestada,
     GETDATE(), @FechaDevolucionPrevista, NULL,
     'PRESTADO', @Evento, @Observaciones, @UsuarioPrestador, 1);

  UPDATE Materiales
    SET CantidadDisponible = CantidadDisponible - @CantidadPrestada
  WHERE MaterialId = @MaterialId;

  DECLARE @NuevoId INT = SCOPE_IDENTITY();
  COMMIT TRANSACTION;

  SELECT @NuevoId AS NuevoElementoPrestamoId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearSolicitud]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_CrearSolicitud]
        @OficinaSolicitanteId INT,
        @MaterialId INT,
        @CantidadSolicitada INT,
        @PorcentajeOficina DECIMAL(5,2),
        @Usuario VARCHAR(100),
        @Observacion VARCHAR(500) = NULL
    AS
    BEGIN
        SET NOCOUNT ON;
        
        -- Validaciones existentes...
        DECLARE @TotalMes INT;
        SELECT @TotalMes = ISNULL(SUM(CantidadSolicitada), 0)
        FROM SolicitudesMaterial 
        WHERE OficinaSolicitanteId = @OficinaSolicitanteId
        AND MONTH(FechaSolicitud) = MONTH(GETDATE())
        AND YEAR(FechaSolicitud) = YEAR(GETDATE());
        
        IF (@TotalMes + @CantidadSolicitada) > 1000
        BEGIN
            RAISERROR('Límite mensual de 1000 elementos excedido para esta oficina', 16, 1);
            RETURN;
        END
        
        DECLARE @Disponible INT;
        SELECT @Disponible = CantidadDisponible 
        FROM Materiales 
        WHERE MaterialId = @MaterialId;
        
        IF @CantidadSolicitada > @Disponible
        BEGIN
            RAISERROR('Cantidad solicitada excede el inventario disponible', 16, 1);
            RETURN;
        END
        
        -- CALCULAR VALORES FINANCIEROS
        DECLARE @ValorUnitario DECIMAL(18,2);
        SELECT @ValorUnitario = ValorUnitario FROM Materiales WHERE MaterialId = @MaterialId;
        
        DECLARE @ValorTotalSolicitado DECIMAL(18,2) = @ValorUnitario * @CantidadSolicitada;
        DECLARE @ValorOficina DECIMAL(18,2) = @ValorTotalSolicitado * (@PorcentajeOficina / 100);
        DECLARE @ValorSedePrincipal DECIMAL(18,2) = @ValorTotalSolicitado - @ValorOficina;
        
        INSERT INTO SolicitudesMaterial (
            OficinaSolicitanteId, 
            MaterialId, 
            CantidadSolicitada, 
            PorcentajeOficina, 
            EstadoId,
            UsuarioSolicitante,
            Observacion,
            ValorTotalSolicitado,
            ValorOficina,
            ValorSedePrincipal
        ) VALUES (
            @OficinaSolicitanteId, 
            @MaterialId, 
            @CantidadSolicitada,
            @PorcentajeOficina, 
            1,
            @Usuario,
            @Observacion,
            @ValorTotalSolicitado,
            @ValorOficina,
            @ValorSedePrincipal
        );
        
        SELECT SCOPE_IDENTITY() as NuevaSolicitudId;
    END
GO
/****** Object:  StoredProcedure [dbo].[sp_EstadisticasDevoluciones]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_EstadisticasDevoluciones]
    @FechaInicio DATETIME = NULL,
    @FechaFin DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @FechaInicio IS NULL SET @FechaInicio = DATEADD(MONTH, -1, GETDATE());
    IF @FechaFin IS NULL SET @FechaFin = GETDATE();
    
    SELECT 
        COUNT(*) AS TotalDevoluciones,
        COUNT(DISTINCT ProductoId) AS ProductosDevueltos,
        COUNT(DISTINCT OficinaId) AS OficinasConDevoluciones,
        MotivoDevolucion,
        COUNT(*) AS CantidadPorMotivo
    FROM Asignaciones
    WHERE Estado = 'DEVUELTO' 
        AND FechaDevolucion BETWEEN @FechaInicio AND @FechaFin
    GROUP BY MotivoDevolucion
    ORDER BY CantidadPorMotivo DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EstadisticasTraspasos]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_EstadisticasTraspasos]
    @FechaInicio DATETIME = NULL,
    @FechaFin DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @FechaInicio IS NULL SET @FechaInicio = DATEADD(MONTH, -1, GETDATE());
    IF @FechaFin IS NULL SET @FechaFin = GETDATE();
    
    SELECT 
        COUNT(*)/2 AS TotalTraspasos,
        SUM(Cantidad) AS TotalUnidadesTrasapasadas,
        COUNT(DISTINCT ProductoId) AS ProductosTrasapasados
    FROM AsignacionesCorporativasHistorial
    WHERE Accion IN ('TRASPASO_SALIDA', 'TRASPASO_ENTRADA')
        AND Fecha BETWEEN @FechaInicio AND @FechaFin;
        
    SELECT 
        OficinaId,
        COUNT(*) AS CantidadMovimientos,
        SUM(CASE WHEN Accion = 'TRASPASO_SALIDA' THEN Cantidad ELSE 0 END) AS TotalSalidas,
        SUM(CASE WHEN Accion = 'TRASPASO_ENTRADA' THEN Cantidad ELSE 0 END) AS TotalEntradas
    FROM AsignacionesCorporativasHistorial
    WHERE Accion IN ('TRASPASO_SALIDA', 'TRASPASO_ENTRADA')
        AND Fecha BETWEEN @FechaInicio AND @FechaFin
    GROUP BY OficinaId
    ORDER BY CantidadMovimientos DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LimpiarTokensExpirados]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_LimpiarTokensExpirados]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @TokensEliminados INT;
    
    -- Eliminar tokens expirados hace más de 30 días
    DELETE FROM TokensConfirmacionAsignacion
    WHERE FechaExpiracion < DATEADD(day, -30, GETDATE());
    
    SET @TokensEliminados = @@ROWCOUNT;
    
    PRINT CONCAT('Tokens eliminados: ', @TokensEliminados);
    
    RETURN @TokensEliminados;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerHistorialPrestamo]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ObtenerHistorialPrestamo]
    @PrestamoId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Información básica del préstamo
    SELECT 
        pe.PrestamoId,
        pe.Estado AS EstadoActual,
        pe.FechaPrestamo,
        pe.FechaDevolucionPrevista,
        pe.FechaDevolucionReal,
        pe.Evento,
        pe.Observaciones,
        el.NombreElemento AS Material,
        pe.CantidadPrestada,
        el.ValorUnitario,
        u.NombreUsuario AS Solicitante,
        o.NombreOficina AS Oficina,
        pe.UsuarioPrestador,
        pe.UsuarioAprobador,
        pe.FechaAprobacion,
        pe.UsuarioRechazador,
        pe.FechaRechazo,
        pe.UsuarioDevolucion,
        pe.MotivoRechazo,
        pe.ObservacionesAprobacion
    FROM dbo.PrestamosElementos pe
    INNER JOIN dbo.ElementosPublicitarios el ON pe.ElementoId = el.ElementoId
    INNER JOIN dbo.Usuarios u ON pe.UsuarioSolicitanteId = u.UsuarioId
    INNER JOIN dbo.Oficinas o ON pe.OficinaId = o.OficinaId
    WHERE pe.PrestamoId = @PrestamoId AND pe.Activo = 1;
    
    -- Historial de estados
    SELECT 
        phe.HistorialId,
        phe.EstadoAnterior,
        phe.EstadoNuevo,
        phe.UsuarioCambio,
        phe.FechaCambio,
        phe.Observaciones,
        phe.TipoAccion
    FROM dbo.PrestamosHistorialEstados phe
    WHERE phe.PrestamoId = @PrestamoId
    ORDER BY phe.FechaCambio DESC;
    
    -- Trazabilidad de modificaciones (si existe)
    IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES 
               WHERE TABLE_NAME = 'PrestamosTrazabilidad')
    BEGIN
        SELECT 
            pt.TrazabilidadId,
            pt.CampoModificado,
            pt.ValorAnterior,
            pt.ValorNuevo,
            pt.UsuarioModificacion,
            pt.FechaModificacion,
            pt.TipoModificacion
        FROM dbo.PrestamosTrazabilidad pt
        WHERE pt.PrestamoId = @PrestamoId
        ORDER BY pt.FechaModificacion DESC;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RechazarSolicitud]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RechazarSolicitud]
    @SolicitudId INT,
    @AprobadorId INT,
    @Observacion VARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Verificar que la solicitud existe y está pendiente
        IF NOT EXISTS (
            SELECT 1 
            FROM SolicitudesMaterial 
            WHERE SolicitudId = @SolicitudId 
              AND EstadoId = 1 -- Pendiente
        )
        BEGIN
            RAISERROR('Solicitud no encontrada o ya fue procesada', 16, 1);
            RETURN;
        END
        
        BEGIN TRANSACTION;
        
        -- Actualizar la solicitud a estado rechazado (EstadoId = 3)
        UPDATE SolicitudesMaterial 
        SET EstadoId = 3, -- Rechazada
            AprobadorId = @AprobadorId,
            FechaAprobacion = GETDATE(),
            Observacion = ISNULL(@Observacion, Observacion)
        WHERE SolicitudId = @SolicitudId;
        
        COMMIT TRANSACTION;
        
        -- Retornar éxito
        SELECT 1 AS Success;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarDevolucion]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_RegistrarDevolucion]
        @SolicitudId INT,
        @UsuarioId INT,
        @CantidadDevuelta INT,
        @Observacion VARCHAR(500) = NULL
    AS
    BEGIN
        SET NOCOUNT ON;
        
        DECLARE @MaterialId INT, 
                @CantidadAprobada INT, 
                @EstadoId INT,
                @CantidadYaDevuelta INT,
                @CantidadPuedeDevolver INT,
                @UsuarioNombre VARCHAR(100);
        
        BEGIN TRY
            SELECT 
                @MaterialId = sm.MaterialId,
                @CantidadAprobada = ISNULL(sm.CantidadEntregada, 0),
                @EstadoId = sm.EstadoId,
                @CantidadYaDevuelta = ISNULL((SELECT SUM(d.CantidadDevuelta) FROM Devoluciones d WHERE d.SolicitudId = sm.SolicitudId), 0),
                @UsuarioNombre = u.NombreUsuario
            FROM SolicitudesMaterial sm
            INNER JOIN Usuarios u ON u.UsuarioId = @UsuarioId
            WHERE sm.SolicitudId = @SolicitudId;
            
            IF @MaterialId IS NULL
            BEGIN
                RAISERROR('Solicitud no encontrada', 16, 1);
                RETURN;
            END
            
            IF @EstadoId NOT IN (2, 4)
            BEGIN
                RAISERROR('Solo se pueden devolver solicitudes aprobadas o entregadas', 16, 1);
                RETURN;
            END
            
            SET @CantidadPuedeDevolver = @CantidadAprobada - @CantidadYaDevuelta;
            
            IF @CantidadDevuelta <= 0
            BEGIN
                RAISERROR('La cantidad devuelta debe ser mayor que 0', 16, 1);
                RETURN;
            END
            
            IF @CantidadDevuelta > @CantidadPuedeDevolver
            BEGIN
                RAISERROR('No se puede devolver más de lo aprobado pendiente. Máximo: %d', 16, 1, @CantidadPuedeDevolver);
                RETURN;
            END
            
            BEGIN TRANSACTION;
            
            INSERT INTO Devoluciones (
                SolicitudId, 
                MaterialId, 
                CantidadDevuelta, 
                FechaDevolucion,
                UsuarioDevolucion, 
                Observaciones, 
                EstadoDevolucion,
                CondicionMaterial
            ) VALUES (
                @SolicitudId,
                @MaterialId,
                @CantidadDevuelta,
                GETDATE(),
                @UsuarioNombre,
                @Observacion,
                'COMPLETADA',
                'BUENO'
            );
            
            UPDATE Materiales 
            SET CantidadDisponible = CantidadDisponible + @CantidadDevuelta
            WHERE MaterialId = @MaterialId;
            
            DECLARE @NuevaCantidadPendiente INT = @CantidadPuedeDevolver - @CantidadDevuelta;
            
            IF @NuevaCantidadPendiente <= 0
            BEGIN
                UPDATE SolicitudesMaterial 
                SET EstadoId = 5,
                    FechaUltimaEntrega = GETDATE()
                WHERE SolicitudId = @SolicitudId;
            END
            ELSE
            BEGIN
                UPDATE SolicitudesMaterial 
                SET FechaUltimaEntrega = GETDATE()
                WHERE SolicitudId = @SolicitudId;
            END
            
            COMMIT TRANSACTION;
            
            SELECT 1 AS Success;
            
        END TRY
        BEGIN CATCH
            IF @@TRANCOUNT > 0
                ROLLBACK TRANSACTION;
            
            DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
            DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
            DECLARE @ErrorState INT = ERROR_STATE();
            
            RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
        END CATCH
    END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarEntrega]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_RegistrarEntrega]
        @SolicitudId INT,
        @CantidadEntregada INT,
        @UsuarioEntrega VARCHAR(100),
        @Observaciones VARCHAR(500) = NULL
    AS
    BEGIN
        SET NOCOUNT ON;
        
        DECLARE @CantidadSolicitada INT, @CantidadYaEntregada INT, @MaterialId INT;
        
        SELECT @CantidadSolicitada = CantidadSolicitada,
               @CantidadYaEntregada = ISNULL(CantidadEntregada, 0),
               @MaterialId = MaterialId
        FROM SolicitudesMaterial 
        WHERE SolicitudId = @SolicitudId;
        
        IF (@CantidadYaEntregada + @CantidadEntregada) > @CantidadSolicitada
        BEGIN
            RAISERROR('Cantidad entregada excede la cantidad solicitada', 16, 1);
            RETURN;
        END
        
        BEGIN TRANSACTION;
        
        INSERT INTO HistorialEntregas (SolicitudId, CantidadEntregada, UsuarioEntrega, Observaciones)
        VALUES (@SolicitudId, @CantidadEntregada, @UsuarioEntrega, @Observaciones);
        
        UPDATE SolicitudesMaterial 
        SET CantidadEntregada = ISNULL(CantidadEntregada, 0) + @CantidadEntregada,
            FechaUltimaEntrega = GETDATE()
        WHERE SolicitudId = @SolicitudId;
        
        UPDATE Materiales 
        SET CantidadDisponible = CantidadDisponible - @CantidadEntregada
        WHERE MaterialId = @MaterialId;
        
        COMMIT TRANSACTION;
    END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarNovedad]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegistrarNovedad]
    @SolicitudId INT,
    @TipoNovedad VARCHAR(50),
    @Descripcion VARCHAR(500),
    @CantidadAfectada INT = NULL,
    @UsuarioRegistra VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Validar que la solicitud existe y está en estado aprobada (2) o entregada parcialmente (4)
        IF NOT EXISTS (
            SELECT 1 
            FROM SolicitudesMaterial 
            WHERE SolicitudId = @SolicitudId 
              AND EstadoId IN (2, 4) -- Estados donde pueden haber novedades
        )
        BEGIN
            RAISERROR('La solicitud no existe o no está en estado aprobada/entregada', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Validar cantidad afectada si se proporciona
        IF @CantidadAfectada IS NOT NULL AND @CantidadAfectada <= 0
        BEGIN
            RAISERROR('La cantidad afectada debe ser mayor que 0', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Insertar la novedad
        INSERT INTO NovedadesSolicitudes (
            SolicitudId, 
            TipoNovedad, 
            Descripcion, 
            CantidadAfectada,
            EstadoNovedad, 
            UsuarioRegistra, 
            FechaRegistro
        )
        VALUES (
            @SolicitudId, 
            @TipoNovedad, 
            @Descripcion, 
            @CantidadAfectada,
            'REGISTRADA', 
            @UsuarioRegistra, 
            GETDATE()
        );

        -- Actualizar el estado de la solicitud para indicar que tiene novedad
        UPDATE SolicitudesMaterial
        SET TieneNovedad = 1
        WHERE SolicitudId = @SolicitudId;

        COMMIT TRANSACTION;

        SELECT 
            SCOPE_IDENTITY() AS NovedadId, 
            1 AS Success,
            'Novedad registrada correctamente' AS Mensaje;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ResolverNovedad]    Script Date: 2/25/2026 7:06:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ResolverNovedad]
    @NovedadId INT,
    @UsuarioResuelve VARCHAR(100),
    @ObservacionesResolucion VARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        UPDATE NovedadesSolicitudes
        SET EstadoNovedad = 'RESUELTA',
            UsuarioResuelve = @UsuarioResuelve,
            FechaResolucion = GETDATE(),
            ObservacionesResolucion = @ObservacionesResolucion
        WHERE NovedadId = @NovedadId
          AND EstadoNovedad = 'REGISTRADA';

        IF @@ROWCOUNT = 0
        BEGIN
            RAISERROR('Novedad no encontrada o ya fue resuelta', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Verificar si todas las novedades de la solicitud están resueltas
        DECLARE @SolicitudId INT;
        SELECT @SolicitudId = SolicitudId FROM NovedadesSolicitudes WHERE NovedadId = @NovedadId;

        IF NOT EXISTS (
            SELECT 1 
            FROM NovedadesSolicitudes 
            WHERE SolicitudId = @SolicitudId 
              AND EstadoNovedad = 'REGISTRADA'
        )
        BEGIN
            -- Si no hay más novedades pendientes, quitar el flag de novedad
            UPDATE SolicitudesMaterial
            SET TieneNovedad = 0
            WHERE SolicitudId = @SolicitudId;
        END

        COMMIT TRANSACTION;

        SELECT 1 AS Success, 'Novedad resuelta correctamente' AS Mensaje;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
USE [master]
GO
